<h2> <center>Data Preparations for Toronto Neighborhoods Segmentation & Clustering  </center> </h2>

### Import Packages and read data from Wiki Page

In [238]:
import pandas as pd
import requests
from bs4 import BeautifulSoup


res = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')[0] 
data = pd.read_html(str(table))

#### Check the data type and Load Pandas data frame

In [239]:
type(data)

list

In [240]:
df=pd.DataFrame(data[0])

In [241]:
df.head()

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

#### Remove the Borough's with 'Not assigned'

In [242]:
df=df[df.Borough!='Not assigned']

#### Update Neighborhood value same as Borough where Neighborhood is 'Not assigned'

In [243]:
df.loc[(df.Neighborhood == 'Not assigned'),'Neighborhood'] = df.Borough

In [244]:
df.head()

  Postcode           Borough      Neighborhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

In [245]:
df.reset_index(inplace=True, drop=True)

In [246]:
df.head()

  Postcode           Borough      Neighborhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor

In [247]:
df1=df[['Postcode','Borough','Neighborhood']].groupby(['Postcode','Borough'])['Neighborhood'].apply(','.join).reset_index()

In [248]:
df1.shape

(103, 3)

In [249]:
df1.head(10)

  Postcode      Borough                                   Neighborhood
0      M1B  Scarborough                                  Rouge,Malvern
1      M1C  Scarborough           Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough                Guildwood,Morningside,West Hill
3      M1G  Scarborough                                         Woburn
4      M1H  Scarborough                                      Cedarbrae
5      M1J  Scarborough                            Scarborough Village
6      M1K  Scarborough      East Birchmount Park,Ionview,Kennedy Park
7      M1L  Scarborough                  Clairlea,Golden Mile,Oakridge
8      M1M  Scarborough  Cliffcrest,Cliffside,Scarborough Village West
9      M1N  Scarborough                     Birch Cliff,Cliffside West

In [250]:
#Downloading the dataframes as csv to my local machine

df1.to_csv('df1.csv')
df.to_csv('df.csv')

In [251]:
df1.shape

(103, 3)